<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <strong> title:</strong>
  <%= @product. title %>
=======
  <strong>Title:</strong>
  <%= @product.title %>
>>>>>>> e0e97db8733a55d7064ff6e22f6209b9491886f3
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
